.container_general {
  background: url(../../assets/Img/fondo-contacto-6.jpeg) center center/cover
    no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.container_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
}

.container_title_principal {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
.container_subtitle {
  display: flex;
  justify-content: center;
}
.container_general h1,
.container_general h2,
.container_general h5 {
  color: #ffffff;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.social_items {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  padding-bottom: 40px;
}
.image_social {
  background-color: rgba(96, 131, 155, 0);
  margin: 15px;
  width: 50px;
  height: 50px;
}

.image_social:hover {
  /* box-shadow: 0px 0px 150px #000000; */
  z-index: 2;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.1);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.1);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.1);
  transition: all 200ms ease-in;
  transform: scale(1.1);
}

.social-icon {
  color: #ffffff;
  font-size: 50px;
  display: flex;
  align-items: center;
}
.social-icon:hover {
  text-decoration: none;

  /* box-shadow: 0px 0px 150px #000000; */
}

.youtube :hover {
  color: red;
}

.instagram :hover {
  color: rgb(190, 75, 219);
}

.container_sedes {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  padding-bottom: 40px;
  width: 100%;
}

.item_sedes {
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 10px;

  margin: 15px;
  width: 250px;
  height: 250px;

  cursor: pointer;
}

.item_sedes:hover {
  box-shadow: 0px 0px 150px #000000;
  z-index: 2;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.1);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.1);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.1);
  transition: all 200ms ease-in;
  transform: scale(1.1);
}

@media screen and (max-width: 700px) {
  .container_sedes {
    display: flex;
    /* flex-direction: column; */
  }
}
