.container_form {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 40px;
  background-color: #fff;
  opacity: 0.9;
  width: calc(80% - 150px);
  height: 100%;
  border-radius: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.container_form h2 {
  margin-bottom: 20px;

  color: #000;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  opacity: 0.75;
}

.container_form .inputBox {
  position: relative;
  width: 30%;
  margin: 0 0 35px 0;
}

.container_form input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #777;
  outline: none;
}

.MessageBox {
  width: 100%;
}

.container_form textarea {
  width: 100%;
  height: 200px;
  resize: none;
  border: none;
  border-bottom: 1px solid #777;
  outline: none;
}

.btn--outline {
  background-color: transparent;
  color: #3282b8;
  padding: 8px 20px;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-out;
}

.btn--large:hover {
  transition: all 0.3s ease-out;
  background: #fff;
  color: #3282b8;
  transition: 250ms;
}
