.Container {
  background: url(../assets/Img/img-4.jpg) center center/cover no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}
.Cards_General {
  height: 300px;
  padding: 20px;
  margin: 15px;
  background-color: rgba(187, 225, 250, 0.22);
}

.Container_General {
  flex-direction: column;
  width: 100%;
}

.Container_Cards {
  display: flex;
}

.Cards {
  height: 300px;
  width: 300px;
  padding: 20px;
  margin: 15px;
  background-color: rgba(187, 225, 250, 0.22);
}

.Cards,
.Cards_General > h2,
p {
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
}
