.container_form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 40px;
  background-color: #fff;
  opacity: 0.9;
  width: calc(80% - 0px);
  max-width: 1050px;
  height: 100%;
  border-radius: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.form_title {
  /* position: fixed; */
  background-color: white;
}

.container_form h2 {
  color: black;
  margin-bottom: 30px;
}

.contact_form {
  display: flex;
  flex-direction: row;
}

.form_datos_contacto {
  width: 30%;
  /* align-items: center; */
  display: inline-table;
  justify-content: space-between;
  height: 100%;
  float: left;
}

.inputBox {
  position: relative;
  width: 100%;
  margin: 30px 0 35px 0;
}

.inputBox input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #777;
  outline: none;
}

.form_MessageBox {
  float: right;
  width: 70%;
  margin-left: 20px;
  /* background-color: blue; */
}

.MessageBox {
  width: 100%;
}

.MessageBox textarea {
  width: 100%;
  height: 200px;
  resize: none;
  border: none;
  border-bottom: 1px solid #777;
  outline: none;
}

.foot_form {
  margin-top: 15px;
  justify-content: right;
  align-items: center;
}

/* Boton de Enviar */
.container_form .btn--outline {
  background-color: transparent;
  color: #3282b8;
  padding: 8px 20px;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-out;
  float: right;
}

.container_form .btn--medium:hover {
  transition: all 0.3s ease-out;
  background: #3282b8;
  color: #fff;
  transition: 250ms;
}

@media screen and (max-width: 900px) {
  .contact_form {
    flex-direction: column;
    align-items: center;
  }
  .form_datos_contacto {
    width: 90%;
  }
  .form_MessageBox {
    width: 90%;
  }
  .foot_form {
    align-self: center;
    width: 90%;
  }
  .container_form .btn--medium {
    margin: 0;
  }
}

@media screen and (max-width: 500px) {
  .container_form {
    width: 100%;
    align-items: center;
  }
  .form_datos_contacto {
    width: 100%;
  }
  .form_MessageBox {
    width: 100%;
  }
  .foot_form {
    width: 100%;
  }
  .container_form h2 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 300px) {
  .container_form h2 {
    font-size: 1.2rem;
  }
  .container_form {
    padding: 40px 20px;
  }
}
