.page-not-found img {
  height: 300px;
  background-color: rgba(255, 255, 255, 0.5);
}

.page-not-found {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -60%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.page-not-found h1 {
  color: #3b3a39;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 2rem;
  margin: 50px 0 0 0;
}

.page-not-found p {
  color: #808080;
  font-size: 1rem;
  width: 60%;
  text-align: center;
  margin: 5px;
  font-weight: 300;
}

.button-volver {
  width: 140px;
  height: 40px;
  margin: 10px;
  background-color: #2f2e41;
  color: #fff;
  text-transform: uppercase;
  outline: none;
  border: none;
  border-radius: 5px;
  letter-spacing: 1px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
}

.button-volver:hover {
  background-color: #3282b8;
  transition: all ease 0.2s;
  text-decoration: none;
  color: white;
}

@media (max-width: 900px) {
  .page-not-found img {
    height: 180px;
  }
  .page-not-found p {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .page-not-found {
    width: 100%;
  }
  .page-not-found img {
    height: 120px;
  }
  .page-not-found h1 {
    font-size: 1.4rem;
  }
  .page-not-found p {
    width: 90%;
  }
}
