* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(./assets/bg.jpg);
  background-size: cover;
  background-position: center;

  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.content {
  max-width: 600px;
}

.content .contentBx h2 {
  font-size: 4em;
  color: #fff;
  line-height: 1em;
}

.content .contentBx p {
  font-size: 1.1em;
  color: #fff;
  font-weight: 300;
  margin: 20px 0;
}

.content .contentBx a {
  display: inline-block;
  padding: 10px 30px;
  background: #03a9f4;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
}

.sci {
  position: absolute;
  bottom: 30px;
  display: flex;
}

.sci li {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sci li a {
  position: relative;
  display: inline-block;
  margin-right: 20px;
  filter: invert(1);
  transform: scale(0.5);
}

@media (max-width: 991px) {
  header {
    padding: 15px 40px;
  }
  section {
    padding: 40px;
  }
  body {
    background: url(./assets/bg2.jpg);
    background-size: cover;
    background-position: center;
  }
  .content .contentBx h2 {
    font-size: 2.5em;
  }
  .content .contentBx p {
    font-size: 1em;
  }
  header .navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    z-index: 10;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  header .navigation.active {
    display: flex;
  }

  header .navigation li a {
    font-size: 24px;
    margin: 10px 0;
  }
  .toggleMenu {
    position: relative;
    width: 30px;
    height: 30px;
    background: url(./assets/menu.png);
    background-position: center;
    background-size: 30px;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 11;
  }
  .toggleMenu.active {
    background: url(./assets/close.png);
    background-position: center;
    background-size: 25px;
    background-repeat: no-repeat;
  }
}
